<div style='margin: 20px; padding: 20px; border: 2px solid grey'>

  <h2>gux-tabs-advanced-beta playgroud</h2>

  <div style='margin: 10px 0'>
    <gux-button {{on 'click' this.selectTabFive}}>Select tab 5</gux-button>
    <gux-button {{on 'click' this.addNewTabToEnd}}>Add new tab to end</gux-button>
    <gux-button {{on 'click' this.addNewTabToMiddle}}>Add new tab after 3rd tab</gux-button>
    <gux-button {{on 'click' this.reverseTabOrder}}>Reverse tabs</gux-button>
  </div>

  <gux-tabs-advanced-beta
    {{on 'sortChanged' this.onSortChanged}}
    allow-sort='true'
    id='interactive2'
  >
    <gux-tab-advanced-list-beta slot='tab-list'>
      {{#each this.tabs as |tab|}}
        <gux-tab-advanced-beta tab-id={{tab.id}}>
          <gux-tab-advanced-title-beta
            tab-id={{tab.id}}
          >{{tab.title}}</gux-tab-advanced-title-beta>
        </gux-tab-advanced-beta>
      {{/each}}
    </gux-tab-advanced-list-beta>
    {{#each this.tabs as |tab|}}
      <gux-tab-advanced-panel-beta tab-id={{tab.id}}>tab panel content for "{{tab.title}}"
      </gux-tab-advanced-panel-beta>
    {{/each}}
  </gux-tabs-advanced-beta>
  <br />
  <h3>Tab order:</h3>
  {{#each this.tabs as |tab|}}
    <div style='margin-top: 3px; font-weight:bold'>{{tab.id}}</div>
  {{/each}}
</div>